@page "/"

<PageTitle>Home</PageTitle>


<h1>Select a Song</h1>

<ol>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Never Grow Up (Audrey's Version).mp3" target="_blank">Never Grow Up - Audrey's Version<font color="white"></font></a><br /></li>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Never Grow Up (Just Guitar).mp3" target="_blank">Never Grow Up - Just Guitar<font color="white"></font></a><br /></li>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Never Grow Up.txt” target="_blank">Never Grow Up - Lyrics<font color="white"></font></a><br /></li>

</ol>