@page "/"

<PageTitle>Home</PageTitle>

<h1>Select a Song</h1>

<ol>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Graves Into Gardens [B].mp3" target="_blank">Graves Into Gardens<font color="white"></font></a><br /></li>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Same God  [Db].mp3" target="_blank">Same God<font color="white"></font></a><br /></li>

</ol>