@page "/"

<PageTitle>Home</PageTitle>

<h1>Select a Song</h1>

<ol>
	<li><a href="https://publicsongs.blob.core.windows.net/mp3/Never Grow Up.mp3" target="_blank">Never Grow Up<font color="white"></font></a><br /></li>

</ol>